<ul class="social-media-list">
  {% if site.github_username %}
  <li>
    <a href="https://github.com/{{ site.github_username }}">
      <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg>
      <span class="username">{{ site.github_username }}</span>
    </a>
  </li>
  {% endif %}

  {% if site.twitter_username %}
  <li>
    <a href="https://www.twitter.com/{{ site.twitter_username }}">
      <svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg>
      <span class="username">{{ site.twitter_username }}</span>
    </a>
  </li>
  {% endif %}

  {% if site.scholar_url %}
  <li>
    <a href="{{ site.scholar_url }}" target="_blank" rel="noopener">
      <!-- inline mortarboard icon -->
      <svg class="svg-icon" viewBox="0 0 640 512" aria-hidden="true" focusable="false">
        <path d="M622.3 271.1 343.4 179.2c-19.5-6.4-41.1-6.4-60.6 0L17.7 271.1C7 274.6 0 283.9 0 294.9s7 20.3 17.7 23.8l30.4 10.1c-.4 3.2-.7 6.4-.7 9.7 0 88.4 114.6 160 256 160s256-71.6 256-160c0-3.3-.3-6.5-.7-9.7l30.4-10.1c10.8-3.6 17.7-13 17.7-23.8s-7-20.3-17.7-23.8ZM320 224l192 64-192 64-192-64 192-64z"/>
      </svg>
      <span class="username">Google Scholar</span>
    </a>
  </li>
  {% endif %}
</ul>